body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#sub-title {
	position: relative;
	/* top: 30px; */
	margin: 10px 0px;
}

#google {
	position: relative;
	left: 24px;
	bottom: 18px;
}

#a-friend {
	position: relative;
	left: 24px;
	bottom: 18px;
}


#other {
	position: relative;
	left: 24px;
	bottom: 18px;
}

#image-div-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 33vw;
	left: 85px;
	height: 30vh;
}

.photos {
	margin: 10px 10px;
}

#career-goals-ul {
	position: relative;
	left: 0px;
	padding: 0px;
}

.listOfInterests {
	margin: 5px;
}

#interests-form {
	margin: 20px 0px;
	height: 70px;
}

.top-buttons {
	margin: 12px 12px;
	display: inline;
	height: 7vh;
	width: 15vw;
	background-color: gold;
}